#outlook a {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table,
td {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

p {
  display: block;
  margin: 13px 0;
}

.mj-outlook-group-fix {
  width: 100% !important;
}

@media only screen and (min-width: 480px) {
  .mj-column-per-100 {
    width: 100% !important;
    max-width: 100%;
  }

  .mj-column-px-250 {
    width: 250px !important;
    max-width: 250px;
  }
}
.moz-text-html .mj-column-per-100 {
  width: 100% !important;
  max-width: 100%;
}

.moz-text-html .mj-column-px-250 {
  width: 250px !important;
  max-width: 250px;
}
@media only screen and (max-width: 479px) {
  table.mj-full-width-mobile {
    width: 100% !important;
  }

  td.mj-full-width-mobile {
    width: auto !important;
  }
}
p {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 12px;
}
